<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form" id="myForm">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, placeholder: 'Type title here', required: true %> 
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, placeholder: 'Type description here', required: true %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, placeholder: 'Type price here', required: true %>
    </div>

    <div class="field">
      <%= form.label :brand %>
      <%= form.text_field :brand, placeholder: 'Type brand here', required: true %>
    </div>

    <div class="field">
      <%= form.label :image_url%>
      <%= form.text_field :image_url, placeholder: 'Type image_url here', id: "imageInput", oninput: "textChanged()", required: true %>  <!--,  onclick: "myFunction()" - id: "image", oninput "myFunction()" -->
    </div>
    
  	<p id="feedback"></p>
  	
    <div class="actions">
    <%= form.submit %>
    </div>
  
  </div> 

<% end %>






